[cd]

    command = "/usr/bin/fish"

[data]

[data.git]
    # mandatory
    name = "YOUR NAME"
    # mandatory
    email = "YOUR EMAIL"
    # optional, if set commits and tags will be signed with this key
    gpgKey = "0x0123456789"
    # optional, may be used for specific additional git configuration
    raw = """
    """

