{{- $gpgKey := index . "git" "gpgkey" -}}
[user]
	name = {{ .git.name }}
	email = {{ .git.email }}
    {{- if $gpgKey }}
	signingkey = {{ $gpgKey }}
    {{- end }}
[alias]
	lola = log --graph --decorate --pretty=format:'%C(blue)[%ad %an] %C(yellow)%h%d%Creset %s' --date=short --all
[pull]
	ff = only
[fetch]
    prune = true
    pruneTags = true
{{- if $gpgKey }}
[commit]
	gpgSign = true
[tag]
	gpgSign = true
{{- end }}
{{- if index . "git" "raw" }}
{{ .git.raw }}
{{- end }}
